body {
  font-family: 'Do Hyeon', sans-serif;
  background-color: #ffffff;
  color: #333333;
}

.file-upload {
  /* margin: 0 auto;
  padding: 20px;
  width: 914px;
  height: 50vw; */
  border-radius: 10px;	
  border: solid 1.5px #f6f7fa;
  background-color: #ffffff;
  padding: 7% 0;
}

.file-upload-content {
  display: none;
  text-align: center;
}
#loading {
  display: none;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  /* margin-top: 20px; */
  border: 2px dashed #333333;
  position: relative;
  object-fit: contain;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 0 auto;
  width: 65%;
}

.image-upload-wrap:hover {
  /* margin-top: 20px; */
  border: 2px dashed #333333;
  position: relative;
  object-fit: contain;
  border-radius: 10px;
  background-color: #333333;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #ffffff;
  border: 4px dashed #333333;
}

.image-title-wrap {
  font-family: 'Do Hyeon', sans-serif;
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

/* .drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
  padding: 60px 0;
} */

.file-upload-image {
  max-height: 65%;
  max-width: 65%;
  margin: auto;
  padding: 10px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.nav-distance {
	padding: 2.1% 7.7%;
}

.navbar-light .navbar-brand {
	font-family: 'Do Hyeon', sans-serif;
	line-height: 1.68;
	text-align: left;
	color: #333333;
	font-size: 2rem;
}

.navbar-light .navbar-toggler .nav-link {
	font-family: 'Do Hyeon', sans-serif;
	border-color: #ffffff;
}

.section {
	margin-top: 100px;
}

.title {
	font-family: 'Yeon Sung', cursive;
	line-height: 1;
	text-align: center;
	color: #123456;
}

.subtitle {
	font-family: 'Yeon Sung', cursive;
	line-height: 1.53;
	text-align: center;
	color: #123456;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
	.navbar-brand {
		font-size: 2rem;
	}
}

/* .youtube-link {
	font-family: 'Yeon Sung', cursive;
	font-size: 1.5rem;
	line-height: 1.71;
	text-align: center;
	color: #f73737;
	text-decoration: underline;
}

.youtube-link:hover {
	font-family: NanumSquareR;
	font-size: 1.5rem;
	line-height: 1.71;
	text-align: center;
	color: #f73737;
	text-decoration: underline;
} */

.youtube-icon {
	width: 8%;
}

.upload {
	width: 20%;
}

.upload-text {
	font-family: 'Yeon Sung', cursive;
	width: 100%;
	margin: 0 auto;
	font-size: 1.5rem;
	line-height: 1.5;
	text-align: center;
	color: #333333;
}

.result-message {
	font-family: 'Do Hyeon', sans-serif;
	width: 80%;
	margin: 0 auto;
	font-size: 1.49rem;
	line-height: 1.8;
	text-align: center;
	color: #333333;
}

.face-label {
    width: 20%;
    text-align: left;
    height: 2rem;
}

.bar-container {
  height: 2.7rem;
}

.브이-box {
  position: absolute; /* ? */
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(179, 162, 255, 0.2);
}
.브이-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(179, 162, 255, 1);
}

.브이-face-title {
    color: #b3a2ff;
	font-size: 1.8rem;
}
.브이-face-celeb {
    color: #b3a2ff;
    font-size: 1.4rem;
}

.하트-box {
  position: absolute; /* 핑크 */
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(235, 166, 190, 0.2);
}
.하트-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(235, 166, 190, 1);
}

.하트-face-title {
    color: #eba6be;
	font-size: 1.8rem;
}
.하트-face-celeb {
    color: #eba6be;
    font-size: 1.4rem;
}

.계란-box {
  position: absolute; /* 노랑 */
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(251, 176, 59, 0.2);
}
.계란-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(251, 176, 59, 1);
}

.계란-face-title {
    color: #fbb03b;
	font-size: 1.8rem;
}
.계란-face-celeb {
    color: #fbb03b;
    font-size: 1.4rem;
}

.둥근-box { 
  position: absolute; /* 초록 */
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(117, 204, 84, 0.2);
}
.둥근-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(117, 204, 84, 1);
}

.둥근-face-title {
    color: #75cc54;
	font-size: 1.8rem;
}
.둥근-face-celeb {
    color: #75cc54;
    font-size: 1.4rem;
}

.네모-box {
  position: absolute; /* 브라운 */
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(195, 140, 102, 0.2);
}
.네모-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(195, 140, 102, 1);
}

.네모-face-title {
    color: #c38c66;
	font-size: 1.8rem;
}
.네모-face-celeb {
    color: #c38c66;
    font-size: 1.4rem;
}

.다이아-box { /* 형광 */
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(102, 255, 255, 0.2);
}
.다이아-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(102, 255, 255, 1);
}

.다이아-face-title {
    color: #66ffff;
	font-size: 1.8rem;
}
.다이아-face-celeb {
    color: #66ffff;
    font-size: 1.4rem;
}

.길쭉-box { /* 파란 */
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(27, 175, 234, 0.2);
}
.길쭉-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(27, 175, 234, 1);
}

.길쭉-face-title {
    color: #1bafea;
	font-size: 1.8rem;
}
.길쭉-face-celeb {
    color: #1bafea;
    font-size: 1.4rem;
}

.ad-banner {
	width: 320px;
	margin: 0 auto;
}

.knob {
  position: absolute;
  width: 33px;
  top: 0;
  left: 0;
  height: 33px;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #fafafa;
  background-color: #333333;
  transition: 0.3s;
}

input:checked + label > .knob {
  box-shadow: 0 0 0 8px #333333;
  background-color: #fafafa;
  /* transform: translateX(49px) rotate(-140deg); */
  transform: translateX(49px);
}

#label-container {
    width: 80%;
    margin: 0 auto;
}

label {
  cursor: pointer;
  display: inline-block;
  width: 90px;
  height: 33px;
  /* box-shadow: 0 0 0 8px #e5e9ea inset; */
  box-shadow: 0 0 0 8px #b22222 inset;
  border-radius: 30px;
  position: relative;
}

/* manner */
input#manner {
  display: none;
}
